@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,800;1,400;1,800&display=swap');

:root {
    --darkblue: #3d5a80;
    --lightblue: #98c1d9;
    --orange: #ee6c4d;
    --black: #293241;
    --sidemargin: 3rem;
}

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: var(--black);
}

nav, section, footer, ul {
    display: flex;
    place-content: center;
    place-items: center;
}

nav { 
    padding: 1rem var(--sidemargin);
    justify-content: space-between; 
}
nav ul { margin: 0; }
nav ul li { padding: 0 1rem; }

section { 
    padding: 6rem var(--sidemargin) 0 0;
}

footer { background: var(--lightblue); }
footer p { margin-bottom: 0; }

li { list-style: none; }

img { max-width: 100%; }

button {
    padding: 0.5rem 1rem;
    background: var(--orange);
    color: white;
    border: none;
}

h1 { margin: 0; }
h2 { font-weight: 400; }
h3 { font-weight: 800; }

#ribbon {
    padding: 1rem 0;
    background: var(--darkblue);
    color: white;
    text-align: center;
    font-weight: 800;
}

#hero {
    position: relative;
    flex-direction: column;
    outline: 1rem solid var(--lightblue);
    outline-offset: -2rem;
}
#hero h2 {
    margin: 0;
    padding: 0;
}

#feature1 {
    display: grid;
    grid-template-areas: "title title title"
                         "card  card  card";
}
#feature1 h2 { grid-area: title; }

#testimonies {
    display: grid;
    grid-template-areas: "quote img"
                         "logos logos";
}
#testimonies .customer-quote { grid-area: quote; }
#testimonies img { grid-area: img; }
#testimonies .worked-with { grid-area: logos; }
#testimonies .worked-with img { height: 40px; }