@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,800;1,400;1,800&display=swap');

:root {
    --darkblue: #023047;
    --lightblue: #8ecae6;
    --mediumblue: #219ebc;
    --orange: #fb8500;
    --yellow: #ffb703;
    --black: #293241;
}

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: var(--black);
}

nav, section, footer { padding: 0 5%; }

nav, section, footer, ul {
    display: flex;
    place-content: center;
    place-items: center;
}

nav { 
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: baseline;
    justify-content: space-between;
}

section { 
    padding-top: 2rem;
    padding-bottom: 8rem;
}

footer {
    position: relative;
    display: grid;
    grid-template-areas: "contact sitemap resources";
    gap: 10%;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 5%;
    padding-bottom: 5%;
    background: var(--lightblue); 
}
footer h4 { color: var(--mediumblue); }

a {
    text-decoration: none;
    color: var(--black);
}

a:hover, a:active { color: var(--mediumblue); }

ul { flex-direction: column; }

li { list-style: none; }

img { max-width: 100%; }

button {
    padding: 1rem 3rem;
    border: none;
    background: var(--orange);
    color: white;
    font-size: medium;
    font-weight: 800;
    text-transform: uppercase;
}
button:hover, button:active { 
    background: var(--mediumblue); 
    cursor: pointer;
}

h1 { margin: 0; }
h2 {
    font-size: 1.8rem; 
    font-weight: 400; 
}
h3, blockquote { 
    margin-bottom: 0;
    color: var(--darkblue);
    font-size: 2.8rem;
    font-weight: 800; 
    line-height: 110%;
}
h4 { margin: 0 0 1rem 0;}

p, address { line-height: 160%; }

#quick-contact {
    flex-direction: row-reverse; 
    margin: 0;
}
#quick-contact li {
    padding: 0 1rem;
}

#ribbon {
    margin: 0;
    padding: 1rem 0;
    background: var(--darkblue);
    color: white;
    text-align: center;
    font-weight: 800;
}

#hero {
    position: relative;
    flex-direction: column;
    height: 75vh;
    margin-bottom: 12rem;
    padding: 8rem 0 24rem 0;
    outline: 0.7rem solid var(--lightblue);
    outline-offset: -2rem;
}
#hero h3 { 
    margin: 0; 
    line-height: 80%;
}
#hero h2 { margin: 1rem 0 2rem 0; }
#hero img {
    position: absolute;
    bottom: -2rem;
    z-index: -1;
}

#feature1 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "title title title"
    "card  card  card";
    align-items: flex-start;
    justify-content: space-between;
}
#feature1 h2 { 
    grid-area: title; 
    margin: 0;
}
.feature1-card { padding: 0 4rem 4rem 4rem; }
#feature1::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 45%;
    margin-bottom: 8rem;
    background: var(--lightblue);
    z-index: -1;
}

#testimonies { flex-direction: column; }
.customer-quote * {
    margin: 0;
}
.customer-quote {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 750px;
}
.customer-quote img { 
    max-width: 100%;
    margin-left: 450px; 
}
.quote-paragraph blockquote::before {
    content: '\275D';
    position: absolute;
    top: 3rem;
    font-size: 5rem;
}
.quote-paragraph {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 500px;
    padding: 4rem;
    outline: 0.7rem solid var(--lightblue);
    outline-offset: 2rem;
    z-index: 1;
}
.quote-paragraph blockquote { padding: 2rem 0; }
.worked-with {
    grid-area: logos; 
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;
    opacity: 75%;
}
.worked-with img { height: 40px; }

#price-package {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-areas: "title title title"
                         "card  card  card";
    align-items: flex-start;
}
#price-package h2 { grid-area: title; }
#price-package h3 { margin: 0; }
.price-card {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-card p { margin: 1rem 0 0 0;}
.price-card-info { 
    width: 70%; 
    margin: 2rem 0 2rem 0;
}
.price-card-info ol { margin: 0; padding-left: 1rem; }
.price-card-info ol li { list-style: circle; }
.card-highlight {
    outline: 0.7rem solid var(--lightblue);
    outline-offset: 1rem;
    font-size: 20px;
}
.card-highlight h3, .card-highlight p { 
    font-weight: bold; 
    color: var(--orange);
}

#full-contact { grid-area: contact; }
.social-media {
    flex-direction: row;
    gap: 1rem;
    margin: 0;
    padding: 0;
}
#resources { grid-area: resources; }
#site-map { grid-area: sitemap; }
.links {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    margin: 1rem 0 0 0;
    padding: 0;
}
.copyright {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 2rem 0 1rem 0;
    padding: 0;
}
.copyright h5 { 
    margin: 0; 
    padding: 0;
    color: var(--mediumblue);
}

/* SMARTPHONES PORTRAIT */

@media only screen and (min-width: 300px) {}


/* SMARTPHONES LANDSCAPE */

@media only screen and (min-width: 480px) {}


/* TABLETS PORTRAIT */

@media only screen and (min-width: 768px) {}


/* TABLET LANDSCAPE / DESKTOP */

@media only screen and (min-width: 1024px) {
    
}